*,
*::before,
*::after{
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}
body{
    background: linear-gradient(90deg,#74b6ff 0%,#1bdcfd 50%,#45d9fc 10%);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', 
    Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    line-height: 1.5;
    display: flex;
    height: 100vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.wrapper{
    background: #fff;
    width: 90%;
    padding: 2rem;
    box-shadow: 0 0px 2.2px rgba(0, 0, 0, 0.028), 0 0px 5.3px rgba(0, 0, 0, 0.05), 
    0 0px 10px rgba(0, 0, 0, 0.04);
}
h1{
    background: #1bdcfd;
    color: white;
    letter-spacing: 0.1rem;
    cursor: default;
}
form{
    font-family: inherit;
    font-size: initial;
}
.form-group label{
    display: block;
    margin: 2rem 0 0.5rem 0;
}
.form-group input[type="text"]{
    width: 100%;
    padding: 1rem 0.8rem;
    border: 1px solid rgba(0, 0, 0, 0.2);
    outline: 0;
    transition: border 0.15s;
}
.form-group input[type="text"]:focus{
    border: 1px solid #1bdcfd;
}
.submit{
    background: #1bdcfd;
    color: white;
    font-weight: bold;
    margin-left: 90%;
    padding: 1rem 1.5rem;
    border: none;
    cursor: pointer;
}
.submit:hover{
    background: rgba(173, 216, 230, 1);
    color: black;
}

